.cz-headerbg{
	background: #fc0;
}
.cz-headerbg a{
	color: #333;
}
.mui-content.cz-bg{
	background: #fff;
}
.cz-chenggong{
	line-height: 36px;
	text-align: center;
	margin: 0;
}
.cz-select{
	padding: 36px 0 42px;
}
.cz-select .mui-col-xs-6{
	text-align: center;
}