.mui-content, html, body{
	height: 100%;
	background: #fff;
}
.login-wrap{
	padding: 0 39px;
	height: 100%;
	background: #fff;
}
.login-logo{
	padding-top: 55px;
	height: 175px;
	text-align: center;
}
.l-logo{
	position: relative;
	left: 8%;
	height: 120px;
}
.user-box{
	margin-bottom: 28px;
}
.user-item{
	padding-left: 40px;
	width: 100%;
}
.l-user{
	position: relative;
	height: 41px;
}
.l-label{
	position: absolute;
	top: 10px;
	left: -40px;
	text-align: center;
}
.l-label img{
	width: 20px;
	height: 20px;
}
.user-item input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #b2b2b2;
	padding: 10px 0;
	border-radius: 0 ;
	color: #333;
	font-size: 15px;
}
.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{
	float: none;
	width: 100%;
	border-bottom: 1px solid #b2b2b2;
}
.mui-input-row label{
	line-height: 1.1;
    float: none;
    width: auto;
    padding: 0;
}
.mui-input-group .mui-input-row:after{
	height: 0;
}
.l-yanzheng-box{
	position: relative;
	padding-right: 75px;
	height: 41px;
	border-bottom: 1px solid #b2b2b2;
}
.l-yanzheng-box input{
	border-bottom: none;
}
.l-margin{
	margin-bottom: 20px;
}
.l-yanzheng{
	position: absolute;
	right: 0;
	bottom: 7px;
	width: 70px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #fc0;
	font-size: 12px;
	border-radius: 4px;
}
.mui-btn, button{
	border: none;
	padding: 0;
}
.mui-btn-block{
	padding: 7px 0;
}
.mui-btn-blue{
	background: #fc0;
	/* border: 1px solid #fc0; */
}
.login-qita{
	margin-top: 75px;
}
.l-title{
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	display: -ms-flex;
	display: flex;
	margin-bottom: 10px;
	height: 23px;
	align-items: center;
}
.l-center{
	width: 100px;
	line-height: 23px;
	text-align: center;
	font-size: 12px;
	color: #333;
}
.l-left, .l-right{
	flex: 1;
	height: 1px;
	background: #ccc;
}
.mui-table-view-cell{
	text-align: center;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-object{
	vertical-align: middle;
	width: 50px;
	height: 50px;
}
.mui-table-view:after, .mui-table-view:before{
	height: 0;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
	font-size: 12px;
    line-height: 16px;
    height: 16px;
    margin-top: 15px;
}
.l-text{
	margin-top: 15px;
	color: #000;
}

/* 注册页面 */
.mui-input-group:after, .mui-input-group:before{
	height: 0;
}
/* 找回密码 */
.mui-input-row .mui-input-password~.mui-icon-eye.mui-active{
	color: #fc0;
}