.mui-navbar .mui-bar-nav {
    -webkit-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
}
.mui-view .mui-navbar{
	background-color: #fc0;
}
.mui-bar .mui-btn-link{
	color: #101010;
	font-size: 15px;
}
.mui-bar .mui-btn-nav.mui-pull-right{
	margin-right: 5px;
}
.mui-navbar span{
	color: #101010;
}
.mui-views,
.mui-view,
.mui-pages,
.mui-page,
.mui-page-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #efeff4;
}
.mui-pages {
	top: 46px;
	height: auto;
}
.mui-scroll-wrapper,
.mui-scroll {
	background-color: #efeff4;
}
.mui-page.mui-transitioning {
	-webkit-transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
}
.mui-page-left {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.mui-ios .mui-page-left {
	-webkit-transform: translate3d(-20%, 0, 0);
	transform: translate3d(-20%, 0, 0);
}
.mui-navbar {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 10;
	height: 44px;
	background-color: #f7f7f8;
}
.mui-navbar .mui-bar {
	position: absolute;
	background: transparent;
	text-align: center;
}
.mui-android .mui-navbar-inner.mui-navbar-left {
	opacity: 0;
}
.mui-ios .mui-navbar-left .mui-left,
.mui-ios .mui-navbar-left .mui-center,
.mui-ios .mui-navbar-left .mui-right {
	opacity: 0;
}
.mui-navbar .mui-btn-nav {
	-webkit-transition: none;
	transition: none;
	-webkit-transition-duration: .0s;
	transition-duration: .0s;
}
.mui-navbar .mui-bar .mui-title {
	display: inline-block;
	width: auto;
}
.mui-page-shadow {
	position: absolute;
	right: 100%;
	top: 0;
	width: 16px;
	height: 100%;
	z-index: -1;
	content: '';
}
.mui-page-shadow {
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
}
.mui-navbar-inner.mui-transitioning,
.mui-navbar-inner .mui-transitioning {
	-webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
	transition: opacity 300ms ease, transform 300ms ease;
}
.mui-page {
	display: none;
}
.mui-pages .mui-page {
	display: block;
}
.mui-page .mui-table-view:first-child {
	margin-top: 15px;
}
.mui-page .mui-table-view:last-child {
	margin-bottom: 30px;
}
.mui-table-view {
	margin-top: 20px;
}
			
.mui-table-view span.mui-pull-right {
	color: #999;
}
.mui-table-view-divider {
	background-color: #efeff4;
	font-size: 14px;
}
.mui-table-view-divider:before,
.mui-table-view-divider:after {
	height: 0;
}
.mui-fullscreen {
	position: fixed;
	z-index: 20;
	background-color: #000;
}
.mui-ios .mui-navbar .mui-bar .mui-title {
	position: static;
}			
.m-user-wrap{
	padding: 12px 0;
}
.more-user{
	position: relative;
	height: 70px;
	width: 100%;
	background: #fff;
}
.more-user img{
	position: absolute;
	width: 36px;
	height: 36px;
	top: 55%;
	left: 16px;
	transform:translateY(-50%);
}
.more-user p{
	position: absolute;
	top: 55%;
	transform:translateY(-50%);
	left: 70px;
	color: #000;
}
.mui-table-view-cell:after{
	left: 0;
}
.mui-row{
	padding: 25px 10px;
}
.mui-row button{
	padding: 10px 0;
	font-size: 15px;
	border-radius: 7px;
	border: none;
	outline: none;
	color: #fff;
	background: #ff2a00;
}